<div class="p-8">
    <div class="max-w-8xl mx-auto px-8 mb-14">
        <h2 class="mb-4 max-w-5xl text-slate-900 text-6xl tracking-tight font-bold break-words">
            Dashboard degli atleti
        </h2>
        <h3 class="text-xl ">
            Qua troverai tutti gli atleti gestiti da te, essi sono ordinati in base alla data d'inscrizione, dall'ultimo iscritto ai succesivi
        </h3>
        <div class="mt-4 max-w-3xl prose prose-slate ">
            <form class="mt-6 mb-2">
                <input type="text" name="" id="" placeholder="inserisci il nome dell'atleta " class="xl:w-96 border rounded-lg p-2 mr-5 sm:w-60">
                <button type="submit" class="border rounded-lg p-2 mySubmitButton place-content-center">Cerca</button>
            </form>
            
        </div>
    </div>
    
    <div class="col-span-2">
        <div class="mx-auto py-5">
            <div class="grid gap-y-10 
            xl:grid-cols-4 lg:grid-cols-3 md:grid-cols-2 sm:grid-cols-1">
                <div *ngFor="let user of users" class="group shadow-2xl mr-4 mx-4">
                    <img class="w-full" src="../../assets/logo.png" alt="Sunset in the mountains">
                    <h3 class="mt-1 text-lg font-bold text-gray-900 mx-5">{{user.name}}</h3>
                    <p class="mt-3 text-m text-gray-900 mx-5 mb-5 h-10">{{user.description}}</p>
                    <p class="text-gray-700 text-base mx-5 mb-5 h-10">
                        Schede create: {{user.cardsId ? user.cardsId.length : 0}}
                    </p>
                    <div class="grid place-items-center myButtonVisualCard">
                        <a class="text-center bg-blue-500 hover:bg-blue-700 text-white font-bold py-3 px-4 rounded my-4"
                        routerLink="/userManagment" [queryParams]="{user: '11111'}" routerLinkActive="active" ariaCurrentWhenActive="page">
                            Visualizza
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>  