<div>
  <div class="mx-auto max-w-2xl text-center my-4">
    <h2 class="mb-4 max-w-5xl text-slate-900 text-6xl tracking-tight font-bold break-words">Ciao, con quale account vuoi
      accedere?</h2>
    <p class="mt-2 text-xl leading-8 text-gray-600">Questi sono i diversi account che hanno accesso all'applicazione</p>
  </div>
  <div class="myMinHeight sm:h-auto mx-auto px-8 mt-5 py-5  ">
    <div class="grid gap-y-10 xl:grid-cols-4 lg:grid-cols-3 md:grid-cols-3 sm:grid-cols-1">
      <!--single card-->
      <div *ngFor="let employ of employs" class="group shadow-2xl mr-4">
        <img _ngcontent-fpr-c26="" src="../../assets/logo.png" alt="Your Company"
          class="mt-4 mx-auto h-40 w-40 rounded-full border-solid border-2 border-grey-600">

        <h3 class="text-gray-900 text-center mx-auto font-bold w-60 my-2">
          {{employ.name}} {{employ.surname}}</h3>
        
        <hr class="w-40 mx-auto">
        <!--todo add query param to /userManagment-->
        <div class="grid place-items-center myButtonVisualCard">
          <a class="text-center bg-blue-500 hover:bg-blue-700 text-white font-bold py-3 px-4 rounded my-4"
            routerLink="/login" [queryParams]="{user: employ.name + ' ' + employ.surname }"
            ariaCurrentWhenActive="page">
            Visualizza
          </a>
        </div>
      </div>
    </div>
  </div>
</div>