<div class="p-8">
    <div class="max-w-8xl mx-auto px-8 mb-14">
        <h2 class="mb-4 max-w-5xl text-slate-900 text-6xl tracking-tight font-bold">
            Dashboard degli atleti
        </h2>
        <div class="mt-4 max-w-3xl prose prose-slate ">
            <form class="mb-2">
                <input type="text" name="" id="" placeholder="inserisci il nome dell'atleta " class="w-96 border rounded-lg p-2 mr-5">
                <button type="submit" class="border rounded-lg p-2 w-20 mySubmitButton">Cerca</button>
            </form>
            tutti quanti sono ordinati dall'ultimo inserito ai successivi
        </div>
    </div>
    
    <div class="grid grid-cols-4 gap-2">
        <div class="flex items-center justify-center">
            <div class="max-w-sm rounded overflow-hidden shadow-lg">
                <img class="w-full" src="../../assets/logo.png" alt="Sunset in the mountains">
                <div class="px-6 py-4">
                    <div class="font-bold text-xl mb-2">Giorgio Basile</div>
                    <p class="text-gray-700 text-base">
                        Ragazzo di 22 anni che frquenta palestra per la prima volta
                    </p>
                    <p class="text-gray-700 text-base">
                        Schede create: 2
                    </p>
                    <div class="grid place-items-center myButtonVisualCard">
                        <!--todo add query param to /userManagment-->
                        <a class="text-center bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
                        routerLink="/userManagment" [queryParams]="{user: '11111'}" routerLinkActive="active" ariaCurrentWhenActive="page">
                            Visualizza
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>