<div class="p-8">
    <div class="grid grid-cols-4 gap-2">
        <div class="flex items-center justify-center">
            <div class="max-w-sm rounded overflow-hidden shadow-lg">
                <img class="w-full" src="../../assets/logo.png" alt="Sunset in the mountains">
                <div class="px-6 py-4">
                    <div class="font-bold text-xl mb-2">Giorgio Basile</div>
                    <p class="text-gray-700 text-base">
                        Ragazzo di 22 anni che frquenta palestra per la prima volta
                    </p>
                    <p class="text-gray-700 text-base">
                        Schede create: 2
                    </p>
                    <div class="grid place-items-center myButtonVisualCard">
                        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                            Visualizza <br> ultima scheda
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>