<div class="p-8">
  <!--user information-->

  <div class="max-w-8xl mx-auto px-8">
      <h2 class="mt-2 max-w-5xl text-slate-900 text-6xl tracking-tight font-bold break-words">
        Scheda allenamento 1
      </h2>
      <div class="mt-4 max-w-3xl prose prose-slate dark:prose-dark">
        Scheda basata sull'attivazione muscolare
      </div>
  </div>

  <!--tecnical information-->
  <div class="relative max-w-8xl py-6 mx-auto px-4 sm:px-6 lg:px-8 flex flex-col sm:flex-row sm:items-center sm:justify-between gap-6 mt-3">
      <dl class="relative flex flex-wrap h-14 overflow-hidden">
          <div>
              <dt class="text-[0.8125rem] leading-6 font-semibold text-slate-700 dark:text-slate-400">Data di pubblicazione</dt>
              <dd class="text-sm leading-6 mt-2 text-slate-700 dark:text-slate-200">
                  1 Maggio 2023
              </dd>
          </div>
          <div class="border-l border-slate-500/10 dark:border-slate-400/10 ml-6 pl-6 lg:ml-8 lg:pl-8">
              <dt class="text-[0.8125rem] leading-6 font-semibold text-slate-700 dark:text-slate-400">Data di ultima modifica</dt>
              <dd class="text-sm leading-6 mt-2 text-slate-700 dark:text-slate-200">
                  1 Maggio 2023
              </dd>
          </div>
      </dl>
  </div>

  <!--traing cards-->
  <div class="max-w-8xl mx-auto px-8">

      <h3 class="mt-4 max-w-5xl text-slate-900 text-3xl tracking-tight font-bold">
          Esercizi
      </h3>
      <div class="mt-4 max-w-3xl prose prose-slate dark:prose-dark">
          Gli esercizi che fanno parte di questa scheda
      </div>

      <div class="mx-auto px-2 py-5">
          <div class="grid gap-y-10 
                    xl:grid-cols-4 lg:grid-cols-3 md:grid-cols-2 sm:grid-cols-2">
                <!--single card-->
                <div class="shadow-2xl">
                    <img src="../../assets/logo.png">
                    <h3 class="mt-1 text-lg font-bold text-gray-900 ml-5 ">Lat - 3*15</h3>
                    <p class="mt-3 text-m text-gray-900 ml-5 mb-5">Esercizio svolto con la lat machine e serve per la schiena</p>

                    <hr>
                    <div class="grid gap-y-3 my-3 mr-4
                                xl:grid-cols-4 lg:grid-cols-3 md:grid-cols-2 sm:grid-cols-2">
                        <p class="text-m text-gray-900 ml-5 border border-solid border-blue-500 w-min px-3 py-2 rounded-full">Schiena</p>
                    </div>
                    
                </div>
          </div>
      </div>
  </div>
</div>


