<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8 myMinHeight">
    <div class="sm:mx-auto sm:w-full sm:max-w-sm">
      <img _ngcontent-fpr-c26="" src="../../assets/logo.png" alt="Your Company" class="mx-auto h-40 w-40 rounded-full border-solid border-2 border-grey-600">
      <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">Accedi come {{employName}}</h2>
      <h3 [hidden]="!messageError" class="text-red-600 text-center mt-3"> Si è verificato un errore durante la procedura di autenticazione. Riprovare grazie.</h3>
    </div>
  
    <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
      <form class="space-y-6" [formGroup]="formLogin" (ngSubmit)="onSubmit()">
        <div>
          <label for="user" class="block text-sm font-medium leading-6 text-gray-900">User name</label>
          <div class="mt-2">
            <input id="user" name="user" type="user" formControlName="user" 
            autocomplete="user" required class="block w-full rounded-md border-0 py-1.5 text-gray-900 
            shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 
            focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 p-2">
          </div>
        </div>
  
        <div>
          <div class="flex items-center justify-between">
            <label for="password" class="block text-sm font-medium leading-6 text-gray-900">Password</label>
          </div>
          <div class="mt-2">
            <input id="password" name="password" type="password" formControlName="password" 
            autocomplete="current-password" required class="block w-full rounded-md border-0 py-1.5 
            text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 
            focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 p-2">
          </div>
        </div>
  
        <button type="submit"  class="block w-full rounded-md bg-indigo-600 px-3.5 py-2.5 text-center text-sm font-semibold text-white shadow-sm
         hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Aggiungi</button>
      </form>
    </div>
  </div>
