<div class="p-8">
    <div class="grid grid-cols-4 gap-2">
      <div class="flex items-center justify-center">
        <a routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">
          <img src="../../assets/logo.png" alt="">
        </a>
      </div>
      <div class="col-span-2"></div>
      <div class="flex items-center justify-center">
        <a routerLink="/newUser" routerLinkActive="active" class="myLinkNav">Nuovo Atleta</a>
        <a routerLink="/account" routerLinkActive="active" class="myLinkNav">Accounts</a>
      </div>
    </div>
  </div>
